* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
}

.container-fluid {
    width: 80%;
    margin: 0 auto;
}


.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu ul li {
    margin: auto;
    padding-right: 20px;
    font-weight: bold;
}

.menu ul li a {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #dc002d;
    text-decoration: none;
}

.btn-saiba-mais {
    border: 1px solid #dcdcdc;
    color: #dc002d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    line-height: 15.6pt;
    padding: 5px;
    text-decoration: none;
}

#content-saiba-mais {
    width: 100%;
}

.btn-saiba-mais:hover {
    color: #333333;
}

.logo {
    margin-left: 5px;
}

.menu{
    margin-top: 30px;
    text-align: right;
}

#banner {
    margin-top: 30px;
}

#banner img{
    width: 100%;
    height: 300px;
}


.right-session{
    background-color: red;
    width: 100%;
    height: 300px;
}



footer{
    margin-top: 50px;
}

h5 {
    font-size: 0.7rem;
}


.ferramentaria h1{
    position: relative; 
    margin-left: 46rem; 
    margin-top: -15rem; 
    margin-bottom: 13rem;
    color: white;
    font-size: 2rem;
}

.ferramentaria p{
    position: relative; 
    margin-left: 46rem; 
    margin-top: -12.5rem; 
    color: white;
    font-size: 0.7rem;
    margin-bottom: 13rem;
}

@media screen and (min-width: 1200px) and (max-width: 1980px) {
    .ferramentaria h1{
        margin-left: 75%; 
    }
    
    .ferramentaria p{
        margin-left: 75%; 
        padding-right: 50px;
    }

    .right-session{
        background-color: red;
        width: 80%;
        height: 300px;
    }
    
    .full-image {
        visibility: visible;
        height: 100%;
    }
    
    .partial-image {
        visibility: hidden;
        height: 0px;
    }
}


@media screen and (min-width: 900px) and (max-width: 1200px) {
    .ferramentaria h1{
        margin-left: 68%; 
    }
    
    .ferramentaria p{
        margin-left: 68%; 
        padding-right: 50px;
    }

    .right-session{
        background-color: red;
        width: 80%;
        height: 300px;
    }

    .full-image {
        visibility: visible;
        height: 100%;
    }

    .partial-image {
        visibility: hidden;
        height: 0px;
    }
}


@media screen and (min-width: 800px) and (max-width: 900px) {
    .ferramentaria h1{
        margin-left: 60%; 
    }
    
    .ferramentaria p{
        margin-left: 60%; 
        padding-right: 50px;
    }

    .right-session{
        background-color: red;
        width: 80%;
        height: 300px;
    }

    .full-image {
        visibility: visible;
        height: 100%;
    }
    .partial-image {
        visibility: hidden;
        height: 0px;
    }

}


@media screen and (min-width: 320px) and (max-width: 800px) {
    .full-image {
        visibility: hidden;
        height: 0px;
    }

    .partial-image {
        visibility: visible;
        height: 100%;
    }

    .menu ul {
        flex-direction: column;
    }
 
    #banner img{
        width: 100%;
    }
    
    .container-fluid {
        width: 100%;
    }
    
    .ferramentaria{
        visibility: collapse;
    }

    #container-saiba-mais{
        width: 100%;
        margin-top: -280px;
    }
}


.direita{
    width: 30px;
    height: 30px;
}


.container-footer {
    margin-top: 50px;
}

